@model API_Grupo.Models.Grupo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Grupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDgrupo" />
            <div class="form-group">
                <label asp-for="nombre_grupo" class="control-label"></label>
                <input asp-for="nombre_grupo" class="form-control" />
                <span asp-validation-for="nombre_grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion_grupo" class="control-label"></label>
                <input asp-for="descripcion_grupo" class="form-control" />
                <span asp-validation-for="descripcion_grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fotoDeGrupo" class="control-label"></label>
                <input asp-for="fotoDeGrupo" class="form-control" />
                <span asp-validation-for="fotoDeGrupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="creador" class="control-label"></label>
                <input asp-for="creador" class="form-control" />
                <span asp-validation-for="creador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
